html, body {
  height: 100%;
}

body {
  position: relative;
  overflow: hidden;
}

#app {
  position: relative;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#chatContainer {
  width: 100%;
  overflow: hidden;
  margin-bottom: 2rem;
}

.chat--messages-wrapper {
  flex-basis: 75%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
}

.chat--messages {
  flex: 1;
  background: #fff;
  border-radius: 3px;
  margin-bottom: 1rem;
}

.chat-form {
  display: flex;
  textarea {
    flex-grow: 1;
    outline: none;
  }
}

.chat--users-list, .chat--messages-wrapper {
  height: 100%;
}

.chat--users-list, .chat--messages {
  overflow-y: auto;
}

.main-header {
  background-color: #212529;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  .h1, ,h2 {
    color: #fff;
    margin: 0;
    padding: 0;
  }
  .h1 {
    font-size: 1.5rem;
  }
  .h2 {
    font-size: 0.9rem;
    opacity: 0.6;
  }
}

.container {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.chat--wrapper {
  display: flex;
  width: 100%;
  height: 100%;

  .chat--users-list {
    flex-basis: 25%;
  }
}
